:root {
  --max-width: 1280px;
  --border-radius: 8px;
  --foreground: rgb(210, 210, 210);

  --gap-sm: 6px;
  --gap-lg: 12px
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, #484c17 0%, #01100d 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: rgba(200, 200, 200, 0.5);
  color: rgb(20, 20, 20);
  padding: 6px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: rgba(200, 200, 200, 1);
}