:root {
  --max-width: 768px;
  --border-radius: 8px;
  --foreground: rgb(210, 210, 210);

  --gap-sm: 6px;
  --gap-md: 12px;
  --gap-lg: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, #484c17 0%, #01100d 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

input[type='text']
{
  font-size: 16px;
  border: none;
  background: none;
  color: var(--foreground);
  width: min-content;
  padding: 0;
  width: 100%; 
}

button {
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 550;
  background-color: rgba(200, 200, 200, 0.5);
  color: rgb(20, 20, 20);
  padding: 6px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: rgba(200, 200, 200, 1);
}

.glow-button {
  transition: box-shadow 0.2s ease-out;
}

.glow-button:hover {
  box-shadow: rgba(46, 240, 182, 0.4) 0px 0px 10px,
    rgba(46, 201, 240, 0.3) 0px 0px 25px,
    rgba(46, 240, 227, 0.2) 0px 0px 40px;
}